{% block sidebar %}
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand" href="#!">
                <h4 class="text-black-50"><i class="fa fa-layer-group" style="color: aqua"></i> onventory</h4>
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler -->

                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <!-- Admin panel for site admins -->
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                                <a class="nav-link active" href="{% url 'admin:index' %}">
                                    <i class="ni ni-paper-diploma text-primary"></i> <span class="nav-link-text">Admin
                                        Panel</span>
                                </a>
                        </li>
                    {% endif %}
                    <!-- Dashboard and Settings for Account admins -->
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'dashboard' %}">
                                <i class="ni ni-laptop text-green"></i> <span class="nav-link-text">Dashboard</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#navbar-tables" data-toggle="collapse" role="button" aria-expanded="false"
                                aria-controls="navbar-tables">
                                <i class="ni ni-single-02 text-default"></i> <span class="nav-link-text">Authentication</span>
                            </a>
                            <div class="collapse" id="navbar-tables">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'users' %}" class="nav-link">
                                            <span class="sidenav-mini-icon">U </span><span class="sidenav-normal">Users</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'settings' %}">
                                <i class="ni ni-settings-gear-65  text-primary"></i> <span class="nav-link-text">Settings</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'notifications' %}">
                                <i class="ni ni-notification-70  text-primary"></i> <span class="nav-link-text">Notifications</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-examples" data-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="navbar-examples">
                            <i class="ni ni-collection text-orange"></i> <span class="nav-link-text">Inventory</span>
                        </a>
                        <div class="collapse" id="navbar-examples">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    {% if request.user.is_employed %}
                                    <a href="{% url 'employee_view' %}" class="nav-link">
                                        <span class="sidenav-mini-icon">I </span><span class="sidenav-normal">View
                                            Items</span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'view' %}" class="nav-link">
                                        <span class="sidenav-mini-icon">I </span><span class="sidenav-normal">View
                                            Items</span>
                                    </a>
                                    {% endif %}
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'sell' %}" class="nav-link">
                                        <span class="sidenav-mini-icon">C </span><span
                                            class="sidenav-normal">Cashier</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navbar-maps" data-toggle="collapse" role="button"
                            aria-expanded="false" aria-controls="navbar-maps">
                            <i class="ni ni-fat-add text-default"></i>
                            <span class="nav-link-text">Other</span>
                        </a>
                        <div class="collapse" id="navbar-maps">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="nav-link">
                                        <span class="sidenav-mini-icon">P </span><span
                                            class="sidenav-normal">Profile</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="navbar-maps">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="#!" data-toggle="modal" data-target="#logoutModal" class="nav-link">
                                        <span class="sidenav-mini-icon">E </span><span
                                            class="sidenav-normal">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <hr class="my-3">
                    <h6 class="navbar-heading pl-4 text-muted"><span class="docs-normal">Documentation</span></h6>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="ni ni-spaceship"></i>
                            <span class="nav-link-text">Getting started</span>
                        </a>
                    </li>
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link active active-pro"
                                href="https://www.creative-tim.com/product/impact-design-system-pro" target="_blank"><i
                                    class="ni ni-send text-primary"></i>
                                <span class="nav-link-text">Upgrade to PRO</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

</nav>
{% endblock sidebar %}
