<h1>ITEMS TABLE</h1>

<table>
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">PRICE</th>
            <th scope="col">VALUE</th>
            <th scope="col">REORDER LVL</th>
            <th scope="col">REORDER QTY</th>
            <th scope="col">CATEGORY</th>
        </tr>
    </thead>
    <tbody class="list">
        {% if items %}
        {% for item in items %}
        <tr>
            <th scope='row'>{{item.id}}</th>
            <td>{{item.item_name}}</td>
            <td>{{item.item_description}}</td>
            <td>{{item.item_quantity}}</td>
            <td>{{item.unit_price}}</td>
            <td>{{item.value}}</td>
            <td>{{item.reorder_level}}</td>
            <td>{{item.reorder_quantity}}</td>
            <td>{{item.category}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>NO ITEMS TO DISPLAY AT THE MOMENT</p>
        {% endif %}
    </tbody>
</table>
